body {
}
.card {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 5px;
    border-color: darkgrey;
    border-radius: 0.5%;
}
.post {
    justify-content: center;
}

.card .post  {
    display:  block;
    margin-bottom: 12px;
    border-color: darkgrey;
    border-radius: 0.5%;
}
.card p {
    font-weight: bold;
}
.card a {
    color: dimgrey;
}

.card img {
    height: 350px;
    border-radius: 0;
    border-top: 1px;
    border-bottom: 1px;
    border-color: black;
}
.mydetail img {
    max-width: 500px;
    max-height: 600px;
}

i {
    font-size: 20px;
    padding: 6px;
}

.btn i {
    font-size: 30px;
}

.btn-like i {
    font-size: 20px;
}