body {
}
.card {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 5px;
}

.card a {
    color: dimgrey;
}

.card img {
    height: 400px;
}

.mydetail img {
    max-width: 500px;
    max-height: 600px;
}

i {
    font-size: 20px;
    padding: 6px;
}

.btn i {
    font-size: 30px;
}

.btn-like i {
    font-size: 20px;
}